<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nathalie Medina</title>
  </head>
  <body data-controller="scroll-to-element">

<!-- NAVBAR DESKTOP -->
<nav class="navdesktop">
  <ul>
    <div class="home">
      <li><a href="#home-anchor">Home</a></li>
    </div>
    <div class="liens">
      <li><a href="#cards-anchor">Mes services</a></li>
      <li><a href="#about-anchor">À propos</a></li>
      <li><a href="#contact-anchor">Me contacter</a></li>
    </div>
  </ul>
</nav>

<!-- NAVBAR MOBILE -->
<nav class="navmobile">
  <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
    <ul class="mobile-menu">
      <li><a href="#cards-anchor">Mes services</a></li>
      <li><a href="#">À propos</a></li>
      <li><a href="#">Me contacter</a></li>
    </ul>
  </div>
</nav>

<!-- BANNER -->
<div class="banner-home" data-action="click->scroll-to-element#scrollToElement">
  <div class="banner-text">
    <h1 class="banner-big-title">S.A.N.M</h1>
    <div class="banner-little-title">
      <p>SECRÉTAIRE ADMINISTRATIVE NATHALIE MEDINA</p>
    </div>
      <p class="banner-description">Spécialisée en documentsadministratifs <br>
      navires et VNM</p>
  </div>
</div>

<!-- EN SAVOIR PLUS -->
<div class="savoir">
  <a href="#cards-anchor">En savoir plus</a>
</div>

<!-- FLÈCHES -->
<a class="arrow"  href="#cards-anchor">
  <span class="fleche"></span>
  <span class="fleche"></span>
</a>

<!-- CARDS -->
<div class="container">
  <div class="cards">
    <div class="cool-card" id="cards-anchor">
      <div class="image" style="background-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(199,196,196,0) 78%, rgba(3, 47, 64, 1) 100%),url('https://source.unsplash.com/random/?sailing,ship');">
      </div>
      <div class="cool-card-infos">
        <h2 class="cool-card-title">Changement de propriétaire bâteau / VNM</h2>
        <p class="cool-card-description">Tout navire de plaisance français naviguant en mer doit être enregistré auprès d’une délégation à la mer et au littoral au sein d'une direction départementale des territoires et de la mer (DDTM - DML)</p>
      </div>
    </div>

    <div class="cool-card">
      <div class="image" style="background-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(199,196,196,0) 78%, rgba(3, 47, 64, 1) 100%), url('https://source.unsplash.com/random/?sailing,harbour');">
      </div>
      <div class="cool-card-infos">
        <h2 class="cool-card-title">Acte de vente d’un navire de plaisance ou VNM</h2>
        <p class="cool-card-description">Mutation de propriété d’un navire de plaisance ou VNM entre un ou plusieurs copropriétaires</p>
      </div>
    </div>

    <div class="cool-card">
      <div class="image" style="background-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(199,196,196,0) 78%, rgba(3, 47, 64, 1) 100%), url('https://source.unsplash.com/random/?sailing,yacht');">
      </div>
      <div class="cool-card-infos">
        <h2 class="cool-card-title">Changement de port d’attache</h2>
        <p class="cool-card-description">Enregistrement du navire auprès de la direction départementale des territoires et de la mer (DDTM - DML)</p>
      </div>
    </div>

    <div class="cool-card">
      <div class="image" style="background-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(199,196,196,0) 78%, rgba(3, 47, 64, 1) 100%), url('https://source.unsplash.com/random/?zodiac,boat');">
      </div>
      <div class="cool-card-infos">
        <h2 class="cool-card-title">Débarquement / Embarquement de moteur</h2>
        <p class="cool-card-description">Tout changement de moteur sur un bâteau de plaisance ou sur un VNM implique une déclaration obligatoire effectuée auprès des administrations dans un délais d’un mois</p>
      </div>
    </div>

    <div class="cool-card">
      <div class="image" style="background-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(199,196,196,0) 78%, rgba(3, 47, 64, 1) 100%), url('https://source.unsplash.com/random/?big,boat');">
      </div>
      <div class="cool-card-infos">
        <h2 class="cool-card-title">Succession</h2>
        <p class="cool-card-description">Mutation de propriété du navire en cas d’héritage d’un bâteau de plaisance</p>
      </div>
    </div>

    <div class="cool-card">
      <div class="image" style="background-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(199,196,196,0) 78%, rgba(3, 47, 64, 1) 100%), url('https://source.unsplash.com/random/?nice,boat');">
      </div>
      <div class="cool-card-infos">
        <h2 class="cool-card-title">Dossier NUC</h2>
        <p class="cool-card-description">Un navire de plaisance qui pratique une activité commerciale d’embarquement de passagers doit être reconnu comme navire de plaisance à utilisation commerciale (NUC)</p>
      </div>
    </div>

    <div class="cool-card">
      <div class="image" style="background-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(199,196,196,0) 78%, rgba(3, 47, 64, 1) 100%), url('https://source.unsplash.com/random/?ocean,boat');">
      </div>
      <div class="cool-card-infos">
        <h2 class="cool-card-title">Demande d’immatriculation pavillon français</h2>
        <p class="cool-card-description">Enregistrement de votre navire de plaisance ou VNM auprès de la DDTM - DML</p>
      </div>
    </div>

    <div class="cool-card">
      <div class="image" style="background-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(199,196,196,0) 78%, rgba(3, 47, 64, 1) 100%), url('https://source.unsplash.com/random/?sea,boat');">
      </div>
      <div class="cool-card-infos">
        <h2 class="cool-card-title">Radiation</h2>
        <p class="cool-card-description">La radiation ou sortie de flotte est la procédure qui permet au propriétaire d’un navire ou d’un VNM de le radier du registre d’immatriculation. Les raisons pouvant amener à une radiation sont : La destruction ou l’immersion du navire Le changement en eaux intérieures Sortie du territoire français</p>
      </div>
    </div>

    <div class="cool-card">
      <div class="image" style="background-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(199,196,196,0) 78%, rgba(3, 47, 64, 1) 100%), url('https://source.unsplash.com/random/?speed,boat');">
      </div>
      <div class="cool-card-infos">
        <h2 class="cool-card-title">Enregistrement en eaux intérieures</h2>
        <p class="cool-card-description">L'enregistrement de votre bateau vous donne le droit de naviguer et/ou stationner uniquement en eaux intérieures (rivières, lacs, canaux)</p>
      </div>
    </div>
  </div>
</div>

<!-- À PROPOS -->
<div class="about">
  <div class="image-desktop" id="about-anchor"></div>
  <div class="experience">
    <p class="little-title">Nathalie Medina, spécialisée dans les documents anministratifs bâteaux et VNM depuis plus de 30 ans.</p>
    <br>
    <p class="little-text">Parce que dans ce domaine nous ne savons jamais où s'adresser et auprès de qui. Est-ce la douane ? Les affaires maritimes ?
    <br>
    Grâce à un suivis personnalisé et des échanges réactifs par mail, je m'occupe de votre dossier de A à Z.</p>
  </div>
</div>

<!-- CONTACT -->
<div class="container">
  <div class="contact" id="contact-anchor">
    <h2 class="contact-big-title">S.A.N.M</h2>
    <p class="contact-little-title">SECRÉTAIRE ADMINISTRATIVE NATHALIE MEDINA</p>
    <br>
    <p class="contact-text">
    <i class="fa-solid fa-anchor"></i> &thinsp; Adresse : La Couronne, 13500 Martigues, France
    <br>
    <i class="fa-solid fa-phone"></i> &thinsp; Téléphone : 06 27 50 61 78
    <br>
    <i class="fa-solid fa-envelope"></i> &thinsp; e-mail : 13sanm@gmail.com
    </p>
  </div>
</div>
