<nav class="menu">
  <ul>
    <div class="home">
      <li><%= link_to "Home" %></li>
    </div>
    <div class="liens">
      <li><%= link_to "Mes services" %></li>
      <li><%= link_to "À propos" %></li>
      <li><%= link_to "Me contacter" %></li>
    </div>
  </ul>
</nav>

