/* CONTACT DESKTOP */
@media screen and (min-width: 600px) {
  .contact {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 4px;
    background-color: whitesmoke;
    color: #6C6C6C;
    width: 70%;
    height: 60%;
    text-align: center;
    padding: 30px 80px 30px 60px;
    margin-left: 20vh;
    line-height: 10%;
    .contact-big-title {
      font-size: 3rem;
    }
    .contact-little-title {
      font-size: 12px;
      font-weight: 100;
    }
    .contact-text {
      margin-top: 50px;
      line-height: 34px;
      text-align: left;
    }
  }
}

/* CONTACT MOBILE */
@media screen and (max-width: 600px) {
  .contact {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 4px;
    background-color: whitesmoke;
    color: #6C6C6C;
    width: 100%;
    height: 60%;
    text-align: center;
    padding: 30px;
    .contact-big-title {
      font-size: 2rem;
    }
    .contact-little-title {
      font-size: 10px;
      font-weight: 100;
    }
    .contact-text {
      font-size: 12px;
      line-height: 30px;
      text-align: left;
    }
  }
}
