.services-h1 {
  margin-top: 100px;
  text-align: center;
  text-shadow: 1px 1px 2px #aaa;
}

.about-h1 {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  text-shadow: 1px 1px 2px #aaa;
}

.contact-h1 {
  margin-top: 100px;
  text-align: center;
  text-shadow: 1px 1px 2px #aaa;
}
